@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Selma Lagerløfs Vej 300<br />
    9000 Aalborg, Nordjylland, Danmark<br />
    <abbr title="Phone">Phone no.:</abbr>
    12 34 56 78
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Hye@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marc@example.com</a>
</address>
