@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Create Job";
}

<h4>Insert the right data to each component, to create a job... bullshit danglish</h4>

<form>
    <fieldset class="create" align="center">
        <legend>Create Job</legend>
        <table>
            <tr>
                <td>Job title:</td><td><input type="text" name="jname" required="required" /></td>
            </tr>
            <tr>
                <td>Location:</td><td><input type="text" name="location" /></td>
            </tr>
            <tr>
                <td>Job date:</td><td><input type="date" name="jdate" /></td>
            </tr>
            <tr>
                <td>Price:</td><td><input type="text" name="price" /></td>
            </tr>
            <tr>
                <td>Estimated time:</td><td><input type="number" name="jtime" /></td>
            </tr>
            <tr>
                <td>Category:</td>
                <td>
                    <select name="Category">
                        <option>Choose...</option>
                        <option value="Gardening">Gardening</option>
                        <option value="Babysitting">Babysitting</option>
                        <option value="Auto">Auto</option>
                        <option value="IT">IT</option>
                    </select></td>
            </tr>
        </table>
        <br />
        <input type="submit" value="Create job" />
    </fieldset>
</form> 