@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Latest compiled and minified CSS and JS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        .person {
            border: 10px solid transparent;
            margin-bottom: 25px;
            width: 80%;
            height: 80%;
            opacity: 0.7; 
        }

        .img-overlay {
            position: absolute;
            top: 200px;
            bottom: 0;
            left: 0;
            right: 0;
        }
        .button-wrapper .btn {
            margin-left: 8px;
            margin-right: 8px;
        }
        .section-border{
            border-bottom: 1px solid #777;
            margin-bottom: 50px;
            margin-top: 50px;
        }

    </style>
</head>
<body>
    <div class="container-control text-center">
            <img src="~/images/index.jpg" class="img-responsive" alt="Index image">
            <div class="img-overlay">
                <h1 style="color:white;font-family:'Lato';text-shadow:2px 2px #000000;">What are you looking for?</h1>
                <br><br><br>
                <div class="button-wrapper">
                    <a href="Home/createjob" button type="button" style="text-shadow:2px 2px #000000; "class="btn btn-primary btn-lg">Seek Help</a>
                    <a href="Home/joboffer" button type="button" style="text-shadow:2px 2px #000000; "class="btn btn-primary btn-lg">Offer Help</a>
                </div>
            </div>
        <br><br>
    </div>
    <div class="container-fluid text-center">
        <h2>Experiences with Helpful Friend</h2>
        <br>
        <div class="row">
            <div class="col-sm-4">
                <p class="text-center"><strong>Niklas Missel</strong> recommended <strong>Marc Mogensen</strong></p><br>
                    <img src=~/images/placeholder.png class="img-circle person" alt="Random Name">
                    <p><em>Very kind person, and made my laptop function again</em></p>
                    <span style="font-size:150%;color:#FFA500;">&starf;&starf;&starf;&starf;&starf;</span>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Niklas Missel</strong> recommended <strong>Marc Mogensen</strong></p><br>
                <img src=~/images/placeholder.png class="img-circle person" alt="Random Name">
                <p><em>Very kind person, and made my laptop function again</em></p>
                <span style="font-size:150%;color:#FFA500;">&starf;&starf;&starf;&starf;&starf;</span>
            </div>
            <div class="col-sm-4">
                <p class="text-center"><strong>Niklas Missel</strong> recommended <strong>Marc Mogensen</strong></p><br>
                <img src=~/images/placeholder.png class="img-circle person" alt="Random Name">
                <p><em>Very kind person, and made my laptop function again</em></p>
                <span style="font-size:150%;color:#FFA500;">&starf;&starf;&starf;&starf;&starf;</span>
                </div>
         </div>
    </div>
    <div class="section-border"></div>
    <div class="container-fluid text-center">
        <h2>Understand what Helpful Friend is about</h2><br />
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quid, quod res alia tota est? Omnia peccata paria dicitis. Ad corpus diceres pertinere-, sed ea, quae dixi, ad corpusne refers? Egone non intellego, quid sit don Graece, Latine voluptas? Graccho, eius fere, aequalí? Duo Reges: constructio interrete. Si mala non sunt, iacet omnis ratio Peripateticorum. Quamquam te quidem video minime esse deterritum. Et quod est munus, quod opus sapientiae?
            Quae contraria sunt his, malane? Animum autem reliquis rebus ita perfecit, ut corpus; Atqui eorum nihil est eius generis, ut sit in fine atque extrerno bonorum. Mihi enim satis est, ipsis non satis. Incommoda autem et commoda-ita enim estmata et dustmata appello-communia esse voluerunt, paria noluerunt. Mihi enim erit isdem istis fortasse iam utendum.
            Egone non intellego, quid sit don Graece, Latine voluptas? Summum ením bonum exposuit vacuitatem doloris; Terram, mihi crede, ea lanx et maria deprimet. Ratio enim nostra consentit, pugnat oratio. Fortemne possumus dicere eundem illum Torquatum? Quae cum praeponunt, ut sit aliqua rerum selectio, naturam videntur sequi;
            Sed eum qui audiebant, quoad poterant, defendebant sententiam suam. Si quicquam extra virtutem habeatur in bonis. Potius inflammat, ut coercendi magis quam dedocendi esse videantur. Non igitur de improbo, sed de callido improbo quaerimus, qualis Q. Nam et complectitur verbis, quod vult, et dicit plane, quod intellegam; Quid ergo hoc loco intellegit honestum? Quid ad utilitatem tantae pecuniae? Huius, Lyco, oratione locuples, rebus ipsis ielunior. Cuius ad naturam apta ratio vera illa et summa lex a philosophis dicitur. Cum audissem Antiochum, Brute, ut solebam, cum M.
            Si enim ad populum me vocas, eum. Fortemne possumus dicere eundem illum Torquatum? Quicquid porro animo cernimus, id omne oritur a sensibus; Minime vero, inquit ille, consentit. Sed nimis multa. Hoc etsi multimodis reprehendi potest, tamen accipio, quod dant.</p>
    </div><br /><br />
    
</body>

