@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Job Offers";
}

<head>
    <style>
        table {
            width: 100%;
            border: 1px solid #ddd;
        }

        th {
            border: 1px solid #ddd;
            height: 20px;
            text-align: center;
            font-family: sans-serif;
            padding: 15px;
            display: table-cell;
            font-size: 20px;
            font-weight: bold;
        }

        td {
            border: 1px solid #ddd;
            font-size: large;
            text-align: center;
            font-family: sans-serif;
        }
    </style>
</head>
<body>
    <h1>@ViewData["Jobs"]</h1>

    <p>On this page, you can view jobs offered by other users</p>

    <table align="center">
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Job Date</th>
                <th>Location</th>
                <th>Price</th>
                <th>Estimated Time</th>
                <th>Category</th>
            </tr>
        </thead>
        <tr>
            <td>Lawn mowing</td><td>18/3-2017</td><td>Aalborg</td><td>DKK 150</td><td>1 hour</td><td>Gardening</td>
       </tr>
        <tr>
            <td>Babysitting</td>
            <td>20/4-2017</td>
            <td>Aalborg</td>
            <td>DKK 200</td>
            <td>4 hour</td>
            <td>Babysitting</td>
        </tr>
    </table>
</body>